<a href="https://colab.research.google.com/github/Anderche/data-acquisition-and-preprocessing-pipeline/blob/main/Data_Acquisition_and_Preprocessing_Pipeline_Anders_Kiss.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Acquisition and Preprocessing Pipeline**

---

Anders Kiss

21-December-2021

---

# **BACKGROUND**:
The objective of this file is to gather stock data of a User's choice and store it in a SQL Server database.


---

# **DATA ACQUISITION**

---

### INSTALL yfinance API package to get stock data

In [ ]:
pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 17.1 MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.7.1 yfinance-0.1.67

In [ ]:
# DELETE pip install fix_yahoo_finance --upgrade --no-cache-dir

In [ ]:
import pandas as pd
import requests
import json

from pandas_datareader import data as pdr
import yfinance as yf
# import fix_yahoo_finance as yf

from datetime import date, datetime, timedelta
from time import time

# yf.pdr_override()

# SETUP dates

In [ ]:
# ESTABLISH timestamps for: now, today, yesterday, one week ago, six months ago, one year ago
today = datetime.now()
# print(today)
yesterday = today - timedelta(1)
oneWeekAgo = today - timedelta(7)
oneMonthAgo = today - timedelta(30)
twoMonthAgo = today - timedelta(60)

today = today.strftime('%Y-%m-%d')
yesterday = yesterday.strftime('%Y-%m-%d').title()

oneWeekAgo = oneWeekAgo.strftime('%d %b, %Y').title()
oneMonthAgo = oneMonthAgo.strftime('%d %b, %Y').title()
# twoMonthAgo = twoMonthAgo.strftime('%d %b, %Y').title()
twoMonthAgo = twoMonthAgo.strftime('%Y-%m-%d').title()

print("- - - - - - - - - - -")
print("Today's date is: {}\nYesterday's date was: {}".format(today, yesterday))
print("- - - - - - - - - - -")
# print("The time one week ago was: ",oneWeekAgo)
print("The date two months ago was: ",twoMonthAgo)

2021-12-21 15:56:06.799541
- - - - - - - - - - -
Today's date is: 2021-12-21
Yesterday's date was: 2021-12-20
- - - - - - - - - - -
The date two months ago was:  2021-10-22

# GET User input for stock ticker symbol 

_(e.g. "AAPL" for Apple)_

In [ ]:
# GET data for df

user_input = str(input("Enter ticker symbol: "))
print("Getting data for: "+user_input)
# data = pdr.get_data_yahoo(user_input, start="2017-01-01", end="2021-12-30")
# data = pdr.get_data_yahoo(user_input, start = twoMonthAgo, end = today)
data = yf.download(user_input, start=twoMonthAgo, end=today)
print("The date two months ago was: ",twoMonthAgo)

print(data.head())
print("- - - - - - - - - ")
print("The data's shape is: ",data.shape)

Enter ticker symbol: aapl
Getting data for: aapl
[*********************100%***********************]  1 of 1 completed
The date two months ago was:  2021-10-22
                  Open        High  ...   Adj Close     Volume
Date                                ...
2021-10-22  149.690002  150.179993  ...  148.473312   58883400
2021-10-25  148.679993  149.369995  ...  148.423386   50720600
2021-10-26  149.330002  150.839996  ...  149.102402   60893400
2021-10-27  149.360001  149.729996  ...  148.633087   56094900
2021-10-28  149.820007  153.169998  ...  152.347656  100077900

[5 rows x 6 columns]
- - - - - - - - -
The data's shape is:  (41, 6)

# **DATA EXTRACTION and TRANSFORMATION**

---

In [ ]:
data.shape

(41, 6)

In [ ]:
data.describe()

             Open        High         Low       Close   Adj Close        Volume
count   41.000000   41.000000   41.000000   41.000000   41.000000  4.100000e+01
mean   158.892927  161.091220  157.466585  159.407806  159.354515  9.743231e+07
std     10.281799   10.876707    9.500240   10.174301   10.225443  3.850916e+07
min    147.220001  149.369995  146.410004  147.869995  147.869995  4.100000e+07
25%    149.940002  151.490005  149.339996  150.020004  150.000000  6.089340e+07
50%    157.649994  160.449997  156.360001  157.869995  157.869995  9.604190e+07
75%    167.479996  170.300003  164.529999  165.320007  165.320007  1.204054e+08
max    181.119995  182.130005  175.529999  179.449997  179.449997  1.954327e+08

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 41 entries, 2021-10-22 to 2021-12-20
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       41 non-null     float64
 1   High       41 non-null     float64
 2   Low        41 non-null     float64
 3   Close      41 non-null     float64
 4   Adj Close  41 non-null     float64
 5   Volume     41 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 2.2 KB

In [ ]:
# VERIFY oldest data
data.head()

                  Open        High  ...   Adj Close     Volume
Date                                ...
2021-10-22  149.690002  150.179993  ...  148.473312   58883400
2021-10-25  148.679993  149.369995  ...  148.423386   50720600
2021-10-26  149.330002  150.839996  ...  149.102402   60893400
2021-10-27  149.360001  149.729996  ...  148.633087   56094900
2021-10-28  149.820007  153.169998  ...  152.347656  100077900

[5 rows x 6 columns]

In [ ]:
# VERIFY most recent data
data.tail()

NameError: ignored

# **FEATURE ENGINEERING**

ADD columns to provide added value

In [ ]:
# ADD column for 'simple moving average' (SMA)
data['SMA'] = data['Close'].rolling(20).mean()

In [ ]:
# ADD columns for Bollinger Band upper and lower bounds
data['BB_upper'] = data['Close'].rolling(20).mean() + 2*data['Close'].rolling(20).std()
data['BB_lower'] = data['Close'].rolling(20).mean() - 2*data['Close'].rolling(20).std()

In [ ]:
data.head(25)

                  Open        High  ...    BB_upper    BB_lower
Date                                ...
2021-10-22  149.690002  150.179993  ...         NaN         NaN
2021-10-25  148.679993  149.369995  ...         NaN         NaN
2021-10-26  149.330002  150.839996  ...         NaN         NaN
2021-10-27  149.360001  149.729996  ...         NaN         NaN
2021-10-28  149.820007  153.169998  ...         NaN         NaN
2021-10-29  147.220001  149.940002  ...         NaN         NaN
2021-11-01  148.990005  149.699997  ...         NaN         NaN
2021-11-02  148.660004  151.570007  ...         NaN         NaN
2021-11-03  150.389999  151.970001  ...         NaN         NaN
2021-11-04  151.580002  152.429993  ...         NaN         NaN
2021-11-05  151.889999  152.199997  ...         NaN         NaN
2021-11-08  151.410004  151.570007  ...         NaN         NaN
2021-11-09  150.199997  151.429993  ...         NaN         NaN
2021-11-10  150.020004  150.130005  ...         NaN         NaN
2021-11-11  148.960007  149.429993  ...         NaN         NaN
2021-11-12  148.429993  150.399994  ...         NaN         NaN
2021-11-15  150.369995  151.880005  ...         NaN         NaN
2021-11-16  149.940002  151.490005  ...         NaN         NaN
2021-11-17  151.000000  155.000000  ...         NaN         NaN
2021-11-18  153.710007  158.669998  ...  155.034153  145.962851
2021-11-19  157.649994  161.020004  ...  157.390151  144.792854
2021-11-22  161.679993  165.699997  ...  159.296483  144.124523
2021-11-23  161.119995  161.800003  ...  160.952816  143.677189
2021-11-24  160.750000  162.139999  ...  162.444935  143.494070
2021-11-26  159.570007  160.449997  ...  162.807826  143.555177

[25 rows x 9 columns]

In [ ]:
# REMOVE NaN values [produced by .rolling(20) method]
data = data.iloc[19:, :]
data.head(25)

                  Open        High  ...    BB_upper    BB_lower
Date                                ...
2021-11-18  153.710007  158.669998  ...  155.034153  145.962851
2021-11-19  157.649994  161.020004  ...  157.390151  144.792854
2021-11-22  161.679993  165.699997  ...  159.296483  144.124523
2021-11-23  161.119995  161.800003  ...  160.952816  143.677189
2021-11-24  160.750000  162.139999  ...  162.444935  143.494070
2021-11-26  159.570007  160.449997  ...  162.807826  143.555177
2021-11-29  159.369995  161.190002  ...  163.683507  143.723497
2021-11-30  159.990005  165.520004  ...  165.491571  143.549433
2021-12-01  167.479996  170.300003  ...  166.916749  143.599254
2021-12-02  158.740005  164.199997  ...  167.978122  143.764880
2021-12-03  164.020004  164.960007  ...  168.570554  144.260447
2021-12-06  164.289993  167.880005  ...  169.639911  144.595091
2021-12-07  169.080002  171.580002  ...  171.738612  144.570389
2021-12-08  172.130005  175.960007  ...  174.443862  144.292139
2021-12-09  174.910004  176.750000  ...  176.218025  145.181977
2021-12-10  175.210007  179.630005  ...  178.700627  145.857375
2021-12-13  181.119995  182.130005  ...  179.969053  147.163948
2021-12-14  175.250000  177.740005  ...  180.545470  149.020532
2021-12-15  175.110001  179.500000  ...  181.831238  150.564764
2021-12-16  179.279999  181.139999  ...  181.779839  152.493162
2021-12-17  169.929993  173.470001  ...  181.866648  153.733353
2021-12-20  168.279999  170.580002  ...  181.924347  154.595654

[22 rows x 9 columns]

In [ ]:
# REFERENCE - VERIFY "for loop" iterates through dataframe rows (use for SQL table INSERT)
df10 = data.head(10)
for index, row in df10.iterrows():
    print(row['Close'], row['Volume'])

157.8699951171875 137827700.0
160.5500030517578 117305600.0
161.02000427246094 117467900.0
161.41000366210938 96041900.0
161.94000244140625 69463600.0
156.80999755859375 76959800.0
160.24000549316406 88748200.0
165.3000030517578 174048100.0
164.77000427246094 152052500.0
163.75999450683594 136739200.0

In [ ]:
# DROP unnecessary columns
# we are only interested in Date, Close, Volume, SMA, BB_upper, BB_lower
data.drop(['Open', 'High', 'Low', 'Adj Close'], axis=1, inplace=True)
data.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                 Close     Volume         SMA    BB_upper    BB_lower
Date
2021-11-18  157.869995  137827700  150.498502  155.034153  145.962851
2021-11-19  160.550003  117305600  151.091502  157.390151  144.792854
2021-11-22  161.020004  117467900  151.710503  159.296483  144.124523
2021-11-23  161.410004   96041900  152.315002  160.952816  143.677189
2021-11-24  161.940002   69463600  152.969502  162.444935  143.494070

In [ ]:
data.tail()

                 Close     Volume         SMA    BB_upper    BB_lower
Date
2021-12-14  174.330002  139380400  164.783001  180.545470  149.020532
2021-12-15  179.300003  131063300  166.198001  181.831238  150.564764
2021-12-16  172.259995  150185800  167.136501  181.779839  152.493162
2021-12-17  171.139999  195432700  167.800001  181.866648  153.733353
2021-12-20  169.750000  107313400  168.260001  181.924347  154.595654

In [ ]:
# REFERENCE - VERIFY "for loop" iterates through dataframe rows (use for SQL table INSERT)
df5 = data.head(5)
for index, row in df5.iterrows():
    print(type(row['Close']), type(row['Volume']), type(row['SMA']), type(row['BB_upper']), type(row['BB_lower']))

<class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'>
<class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'>
<class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'>
<class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'>
<class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'>

# CONNECT to Microsoft SQL Server

In [ ]:
%%sh
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql17

OK
Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 https://packages.microsoft.com/ubuntu/16.04/prod xenial InRelease [4,011 B]
Ign:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [73.9 kB]
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:13 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 Packages [272 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,452 kB]
Hit:15 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,461 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [691 kB]
Get:19 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Hit:21 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:22 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [833 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,821 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,230 kB]
Get:25 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [934 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,898 kB]
Get:27 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [11.6 kB]
Get:28 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [12.6 kB]
Get:29 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 14.0 MB in 2s (5,667 kB/s)
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
The following additional packages will be installed:
  libodbc1 odbcinst odbcinst1debian2 unixodbc unixodbc-dev
Suggested packages:
  unixodbc-bin
The following NEW packages will be installed:
  msodbcsql17 unixodbc
The following packages will be upgraded:
  libodbc1 odbcinst odbcinst1debian2 unixodbc-dev
4 upgraded, 2 newly installed, 0 to remove and 82 not upgraded.
Need to get 1,458 kB of archives.
After this operation, 152 kB of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 odbcinst amd64 2.3.7 [12.0 kB]
Get:2 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 unixodbc-dev amd64 2.3.7 [37.1 kB]
Get:3 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 odbcinst1debian2 amd64 2.3.7 [135 kB]
Get:4 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 libodbc1 amd64 2.3.7 [511 kB]
Get:5 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 unixodbc amd64 2.3.7 [19.6 kB]
Get:6 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 msodbcsql17 amd64 17.8.1.1-1 [744 kB]
Fetched 1,458 kB in 0s (16.2 MB/s)
(Reading database ... 155222 files and directories currently installed.)
Preparing to unpack .../0-odbcinst_2.3.7_amd64.deb ...
Unpacking odbcinst (2.3.7) over (2.3.4-1.1ubuntu3) ...
Preparing to unpack .../1-unixodbc-dev_2.3.7_amd64.deb ...
Unpacking unixodbc-dev (2.3.7) over (2.3.4-1.1ubuntu3) ...
Preparing to unpack .../2-odbcinst1debian2_2.3.7_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.7) over (2.3.4-1.1ubuntu3) ...
Preparing to unpack .../3-libodbc1_2.3.7_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.7) over (2.3.4-1.1ubuntu3) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../4-unixodbc_2.3.7_amd64.deb ...
Unpacking unixodbc (2.3.7) ...
Selecting previously unselected package msodbcsql17.
Preparing to unpack .../5-msodbcsql17_17.8.1.1-1_amd64.deb ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Unpacking msodbcsql17 (17.8.1.1-1) ...
Setting up libodbc1:amd64 (2.3.7) ...
Setting up odbcinst1debian2:amd64 (2.3.7) ...
Setting up odbcinst (2.3.7) ...
Setting up unixodbc (2.3.7) ...
Setting up unixodbc-dev (2.3.7) ...
Setting up msodbcsql17 (17.8.1.1-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0  16661      0 --:--:-- --:--:-- --:--:-- 16661
Warning: apt-key output should not be parsed (stdout is not a terminal)
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    79  100    79    0     0   2633      0 --:--:-- --:--:-- --:--:--  2633
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 6.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:

In [ ]:
!pip install pypyodbc
import pypyodbc

Collecting pypyodbc
  Downloading pypyodbc-1.3.5.2.zip (25 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/ea/48/bb5412846df5b8f97d42ac24ac36a6b77a802c2778e217adc0d3ec1ee7bf/pypyodbc-1.3.5.2.zip#sha256=90a9a1fdbe5c06b875155d82562beb50bb22743190ca9b46a2cb71030ee65496 (from https://pypi.org/simple/pypyodbc/). Requested pypyodbc from https://files.pythonhosted.org/packages/ea/48/bb5412846df5b8f97d42ac24ac36a6b77a802c2778e217adc0d3ec1ee7bf/pypyodbc-1.3.5.2.zip#sha256=90a9a1fdbe5c06b875155d82562beb50bb22743190ca9b46a2cb71030ee65496 has inconsistent version: filename has '1.3.5.2', but metadata has '1.3.4'
  Downloading pypyodbc-1.3.4.3.zip (24 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/4c/4a/ba2593783287fb56b04d629abdbb8bfd09bfbab2c3ca9f63e3831e7aa572/pypyodbc-1.3.4.3.zip#sha256=cf655760fb3d81d7ddae9aa053c06123762ae97bcc6ec5c4d26ac86497107092 (from https://pypi.org/simple/pypyodbc/). Requested pypyodbc from https://files.pythonhosted.org/packages/4c/4a/ba2593783287fb56b04d629abdbb8bfd09bfbab2c3ca9f63e3831e7aa572/pypyodbc-1.3.4.3.zip#sha256=cf655760fb3d81d7ddae9aa053c06123762ae97bcc6ec5c4d26ac86497107092 has inconsistent version: filename has '1.3.4.3', but metadata has '1.3.4'
  Downloading pypyodbc-1.3.3.1.zip (23 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/5a/04/623370ba35a1e48fd64cdf247bec19495cc3a7f2f2f602a0d48aed80d612/pypyodbc-1.3.3.1.zip#sha256=ba1ae779dbad5f332d06ca73f22bc59674f509e25c44ed47eddf05382255c4fb (from https://pypi.org/simple/pypyodbc/). Requested pypyodbc from https://files.pythonhosted.org/packages/5a/04/623370ba35a1e48fd64cdf247bec19495cc3a7f2f2f602a0d48aed80d612/pypyodbc-1.3.3.1.zip#sha256=ba1ae779dbad5f332d06ca73f22bc59674f509e25c44ed47eddf05382255c4fb has inconsistent version: filename has '1.3.3.1', but metadata has '1.3.3'
  Downloading pypyodbc-1.3.2.zip (23 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pypyodbc) (57.4.0)
Building wheels for collected packages: pypyodbc
  Building wheel for pypyodbc (setup.py) ... done
  Created wheel for pypyodbc: filename=pypyodbc-1.3.2-py3-none-any.whl size=22477 sha256=0a34d9934929259b942bb37dae3cf08428565f68f010ee549e7784667337ba9c
  Stored in directory: /root/.cache/pip/wheels/7a/27/a1/dee80bc3ccf3443247f909705b46f6ed67dce756274f9d8954
Successfully built pypyodbc
Installing collected packages: pypyodbc
Successfully installed pypyodbc-1.3.2

In [ ]:
# connection = pypyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
# 'Server=20.101.33.83;'  
# 'Database=master;'
# 'encrypt=yes;'
# 'TrustServerCertificate=yes;'
# 'UID=sa;'
# 'PWD=newgr@nge7%',autocommit = True)

# cursor = connection.cursor()
# # SQLCommand = "CREATE TABLE STOCKSALL(close float, volume float, sma float, BB_upper float, BB_lower float)"
# cursor.execute(SQLCommand)
# connection.commit()

NameError: ignored

In [ ]:
!pip install pyodbc
import pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.32.tar.gz (280 kB)
     |████████████████████████████████| 280 kB 21.6 MB/s
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... done
  Created wheel for pyodbc: filename=pyodbc-4.0.32-cp37-cp37m-linux_x86_64.whl size=287332 sha256=056ccb85119bd5d94ef614bf1c638efab051517e666c2ebcfded83a0da62fb83
  Stored in directory: /root/.cache/pip/wheels/2e/9c/da/8652fd42e0f662015554f00a9e96fe4f438dfd1ef59787879e
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.32

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine
import urllib
import pyodbc

In [ ]:
sqlalchemy.__version__

'1.4.27'

# CREATE engine for utilizing SQLAlchemy in order to push dataframe to SQL Server

In [ ]:
connect = "Driver={ODBC Driver 17 for SQL Server};Server=20.101.33.83;Database=master;encrypt=yes;TrustServerCertificate=yes;UID=sa;PWD=newgr@nge7%"
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(connect))
data.to_sql('StocksData21', schema='dbo', con = engine)

In [ ]:
# VERIFY data by checking one result
cursor = connect.cursor()
SQLCommand = ("SELECT * FROM StocksData21;")
cursor.execute(SQLCommand)
results = cursor.fetchone()
print('First result is:',results[0])

AttributeError: ignored

In [ ]:
# VERIFY all the data was entered into SQL Server
result_all = engine.execute("SELECT * FROM StocksData21")
result_all.fetchall()

[(datetime.datetime(2021, 11, 18, 0, 0), 1096.3800048828125, 20898900, 1091.6574951171874, 1263.1686060064928, 920.1463842278821),
 (datetime.datetime(2021, 11, 19, 0, 0), 1137.06005859375, 21642300, 1103.0264984130858, 1252.4723429675846, 953.5806538585871),
 (datetime.datetime(2021, 11, 22, 0, 0), 1156.8699951171875, 33072500, 1109.6269989013672, 1256.1693034802274, 963.0846943225068),
 (datetime.datetime(2021, 11, 23, 0, 0), 1109.030029296875, 36171700, 1114.157000732422, 1254.2904840861297, 974.0235173787142),
 (datetime.datetime(2021, 11, 24, 0, 0), 1116.0, 22560200, 1118.0640014648438, 1253.5199461311283, 982.6080567985595),
 (datetime.datetime(2021, 11, 26, 0, 0), 1081.9200439453125, 11680900, 1118.3080017089844, 1253.4700611179305, 983.1459423000382),
 (datetime.datetime(2021, 11, 29, 0, 0), 1136.989990234375, 19464500, 1119.457501220703, 1254.8561304421014, 984.0588719993049),
 (datetime.datetime(2021, 11, 30, 0, 0), 1144.760009765625, 27092000, 1116.2660034179687, 1245.6960530525741, 986.8359537833633),
 (datetime.datetime(2021, 12, 1, 0, 0), 1095.0, 22816800, 1112.4160034179688, 1239.4238099176566, 985.4081969182809),
 (datetime.datetime(2021, 12, 2, 0, 0), 1084.5999755859375, 24371600, 1105.9530029296875, 1224.0694586297375, 987.8365472296375),
 (datetime.datetime(2021, 12, 3, 0, 0), 1014.969970703125, 30696300, 1095.2059997558595, 1204.6276528342005, 985.7843466775186),
 (datetime.datetime(2021, 12, 6, 0, 0), 1009.010009765625, 27221000, 1084.552001953125, 1182.8879146882873, 986.2160892179627),
 (datetime.datetime(2021, 12, 7, 0, 0), 1051.75, 18694900, 1078.9925048828125, 1171.0398758231147, 986.9451339425101),
 (datetime.datetime(2021, 12, 8, 0, 0), 1068.9599609375, 13968800, 1081.2655029296875, 1169.7180668427536, 992.8129390166215),
 (datetime.datetime(2021, 12, 9, 0, 0), 1003.7999877929688, 19812800, 1078.0580047607423, 1172.9608997584385, 983.1551097630461),
 (datetime.datetime(2021, 12, 10, 0, 0), 1017.030029296875, 19855000, 1075.7340057373046, 1174.341049071311, 977.1269624032981),
 (datetime.datetime(2021, 12, 13, 0, 0), 966.4099731445312, 26198500, 1072.3835021972657, 1181.0816966208306, 963.6853077737006),
 (datetime.datetime(2021, 12, 14, 0, 0), 958.510009765625, 23602100, 1069.639501953125, 1187.0313450711635, 952.2476588350866),
 (datetime.datetime(2021, 12, 15, 0, 0), 975.989990234375, 25056400, 1065.7025024414063, 1190.2623175857357, 941.1426872970769),
 (datetime.datetime(2021, 12, 16, 0, 0), 926.9199829101562, 27590500, 1057.5980010986327, 1196.0865640664429, 919.1094381308226),
 (datetime.datetime(2021, 12, 17, 0, 0), 932.5700073242188, 33479100, 1049.4075012207031, 1197.295730346233, 901.5192720951732),
 (datetime.datetime(2021, 12, 20, 0, 0), 899.9400024414062, 18757200, 1037.551498413086, 1193.644032249016, 881.4589645771559)]

In [ ]:
data.to_sql('StockswithData', schema='dbo', con = engine, if_exists='append', index=True)

ProgrammingError: ignored

In [ ]:
SQLCommand = ("SELECT * FROM StockswithData;")
cursor.execute(SQLCommand)
results = cursor.fetchone()
print('First result is:',results[0])

First result is: 2021-11-18 00:00:00

In [ ]:
# VERIFY all the data was entered into SQL Server
result_all = engine.execute("SELECT * FROM StockswithData")
result_all.fetchall()

[(datetime.datetime(2021, 11, 18, 0, 0), 1096.3800048828125, 20898900, 1091.6574951171874, 1263.1686060064928, 920.1463842278821),
 (datetime.datetime(2021, 11, 19, 0, 0), 1137.06005859375, 21642300, 1103.0264984130858, 1252.4723429675846, 953.5806538585871),
 (datetime.datetime(2021, 11, 22, 0, 0), 1156.8699951171875, 33072500, 1109.6269989013672, 1256.1693034802274, 963.0846943225068),
 (datetime.datetime(2021, 11, 23, 0, 0), 1109.030029296875, 36171700, 1114.157000732422, 1254.2904840861297, 974.0235173787142),
 (datetime.datetime(2021, 11, 24, 0, 0), 1116.0, 22560200, 1118.0640014648438, 1253.5199461311283, 982.6080567985595),
 (datetime.datetime(2021, 11, 26, 0, 0), 1081.9200439453125, 11680900, 1118.3080017089844, 1253.4700611179305, 983.1459423000382),
 (datetime.datetime(2021, 11, 29, 0, 0), 1136.989990234375, 19464500, 1119.457501220703, 1254.8561304421014, 984.0588719993049),
 (datetime.datetime(2021, 11, 30, 0, 0), 1144.760009765625, 27092000, 1116.2660034179687, 1245.6960530525741, 986.8359537833633),
 (datetime.datetime(2021, 12, 1, 0, 0), 1095.0, 22816800, 1112.4160034179688, 1239.4238099176566, 985.4081969182809),
 (datetime.datetime(2021, 12, 2, 0, 0), 1084.5999755859375, 24371600, 1105.9530029296875, 1224.0694586297375, 987.8365472296375),
 (datetime.datetime(2021, 12, 3, 0, 0), 1014.969970703125, 30696300, 1095.2059997558595, 1204.6276528342005, 985.7843466775186),
 (datetime.datetime(2021, 12, 6, 0, 0), 1009.010009765625, 27221000, 1084.552001953125, 1182.8879146882873, 986.2160892179627),
 (datetime.datetime(2021, 12, 7, 0, 0), 1051.75, 18694900, 1078.9925048828125, 1171.0398758231147, 986.9451339425101),
 (datetime.datetime(2021, 12, 8, 0, 0), 1068.9599609375, 13968800, 1081.2655029296875, 1169.7180668427536, 992.8129390166215),
 (datetime.datetime(2021, 12, 9, 0, 0), 1003.7999877929688, 19812800, 1078.0580047607423, 1172.9608997584385, 983.1551097630461),
 (datetime.datetime(2021, 12, 10, 0, 0), 1017.030029296875, 19855000, 1075.7340057373046, 1174.341049071311, 977.1269624032981),
 (datetime.datetime(2021, 12, 13, 0, 0), 966.4099731445312, 26198500, 1072.3835021972657, 1181.0816966208306, 963.6853077737006),
 (datetime.datetime(2021, 12, 14, 0, 0), 958.510009765625, 23602100, 1069.639501953125, 1187.0313450711635, 952.2476588350866),
 (datetime.datetime(2021, 12, 15, 0, 0), 975.989990234375, 25056400, 1065.7025024414063, 1190.2623175857357, 941.1426872970769),
 (datetime.datetime(2021, 12, 16, 0, 0), 926.9199829101562, 27590500, 1057.5980010986327, 1196.0865640664429, 919.1094381308226),
 (datetime.datetime(2021, 12, 17, 0, 0), 932.5700073242188, 33479100, 1049.4075012207031, 1197.295730346233, 901.5192720951732),
 (datetime.datetime(2021, 12, 20, 0, 0), 899.9400024414062, 18757200, 1037.551498413086, 1193.644032249016, 881.4589645771559)]

# ADD stocks to SQL Server

In [ ]:
!pip install pyodbc
import pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.32.tar.gz (280 kB)
     |████████████████████████████████| 280 kB 5.2 MB/s
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... done
  Created wheel for pyodbc: filename=pyodbc-4.0.32-cp37-cp37m-linux_x86_64.whl size=287335 sha256=e87e81735cd3587b9a382bfd77d18f62809424e62acde59f586fd7da11e8fcc3
  Stored in directory: /root/.cache/pip/wheels/2e/9c/da/8652fd42e0f662015554f00a9e96fe4f438dfd1ef59787879e
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.32

In [ ]:
!pip install urllib3

Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (1.24.3)

In [ ]:
# Check pyodbc available drivers
pyodbc.drivers()

['ODBC Driver 17 for SQL Server']

In [ ]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=20.101.33.83; database=master;"

In [ ]:
import sqlalchemy

In [ ]:
sqlalchemy.__version__

'1.4.27'

In [ ]:
my_conn = create_engine('mssql+pyodbc://sa:newgr@nge7%@20.101.33.83:3306/master?driver=ODBC+Driver+17+for+SQL+Server')